export interface Input {
  /** An optional header. */
  header?: Marko.AttrTag<
    Marko.HTML.H1 & {
      /** The content of the header. */
      description: string;
    }
  >;
  /** Repeatable attribute tag for list items. */
  item?: Marko.AttrTag<{
    /** The item name. */
    name: string;
    /** The numerical value of this item. */
    count: number;
    /** An optional icon. */
    icon: Marko.AttrTag<{
      /** The size of the icon. */
      size: "small" | "medium" | "large";
      sizeChange?: (s: "small" | "medium" | "large") => void;
    }>;
  }>;
}

<div>
  <if=input.header>
    <h1 ...input.header>
      ${input.header.description}
    </h1>
  </if>
  <else>
    <h1>(No Header)</h1>
  </else>
  <ul>
    <for|item| of=input.item>
      <li>
        ${item.name} (${item.count})${" "}
        <if=item.icon>
          <let/size:=item.icon.size>
          <button
            style={
              "font-size":
                item.icon.size === "large"
                  ? "2rem"
                  : item.icon.size === "small"
                    ? "0.5rem"
                    : "1rem",
            }
            onClick() {
              size = (
                { small: "medium", medium: "large", large: "small" } as const
              )[size];
            }>
            🙂
          </button>
        </if>
      </li>
    </for>
  </ul>
</div>
